@import "tailwindcss";

@source "../../node_modules/@openg2p/registry-widgets/dist";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

body {
    background: var(--background);
    color: var(--foreground);
}

button {
    cursor: pointer;
}

.message-json-scroll::-webkit-scrollbar {
    width: 36px;
}

.message-json-scroll::-webkit-scrollbar-track {
    background: #D9D9D9;
    border-radius: 15px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    margin: 10px;
    background-clip: content-box;
}

.message-json-scroll::-webkit-scrollbar-thumb {
    background-color: #B0B0AD;
    border-radius: 15px; 
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    background-clip: content-box;
    min-height: 70px;
}

.message-json-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #9a9a96;
}

/* Horizontal scrollbar */
.message-json-scroll::-webkit-scrollbar:horizontal {
    height: 36px; /* same as vertical width */
}

.message-json-scroll::-webkit-scrollbar-track:horizontal {
    background: #D9D9D9;
    border-radius: 15px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    margin: 10px;
    background-clip: content-box;
}

.message-json-scroll::-webkit-scrollbar-thumb:horizontal {
    background-color: #B0B0AD;
    border-radius: 15px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    background-clip: content-box;
    min-width: 70px;
}

.message-json-scroll::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #9a9a96;
}

.message-json-scroll::-webkit-scrollbar-corner {
    background: transparent;
    border-radius: 15px;
}
